wsdl/getQuoteWorkingRPC.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/getQuote/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="getQuote" targetNamespace="http://www.example.org/getQuote/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/getQuote/">
  <xsd:complexType name="quoteRequest">

    <xsd:sequence>
      <xsd:element name="SalesOrg" type="xsd:string" minOccurs="1"
        maxOccurs="1">
      </xsd:element>
      <xsd:element name="CustomerNumber" type="xsd:string"></xsd:element>
      <xsd:element name="Items" type="tns:Item" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Item">
    <xsd:sequence>
      <xsd:element name="SKU" type="xsd:string"></xsd:element>
      <xsd:element name="Quantity" type="xsd:string"></xsd:element>
      <xsd:element name="UnitPrice" type="xsd:string"></xsd:element>
      <xsd:element name="TotalPrice" type="xsd:string"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="quoteResponse">
    <xsd:sequence>
      <xsd:element name="Items" type="tns:Item" minOccurs="1" maxOccurs="unbounded"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema></wsdl:types>
    <wsdl:message name="getQuoteOperationRequest">
    <wsdl:part name="getQuoteOperationRequest" type="tns:quoteRequest"/>
  </wsdl:message>
  <wsdl:message name="getQuoteOperationResponse">
    <wsdl:part name="getQuoteOperationResponse"
      type="tns:quoteResponse" />
  </wsdl:message>
  <wsdl:portType name="getQuote">
    <wsdl:operation name="getQuoteOperation">
      <wsdl:input message="tns:getQuoteOperationRequest"/>
      <wsdl:output message="tns:getQuoteOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getQuoteSOAP" type="tns:getQuote">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getQuoteOperation">
      <soap:operation soapAction="http://www.example.org/getQuote/getQuoteOperation"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.example.org/getQuote/" use="encoded"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.example.org/getQuote/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getQuote">
    <wsdl:port binding="tns:getQuoteSOAP" name="getQuoteSOAP">
      <soap:address location="https://sleepy-castle-97478.herokuapp.com/getQuoteOperation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
