wsdl/getQuote.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/getPrices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="getPrices" targetNamespace="http://www.example.org/getPrices/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/getPrices/">
      <xsd:element name="getPrice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPriceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getPriceRequest">
    <wsdl:part name="name" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getPriceResponse">
    <wsdl:part name="price" type="xsd:int"/>
  </wsdl:message>
  <wsdl:portType name="getPrices">
    <wsdl:operation name="getPrice">
      <wsdl:input message="tns:getPriceRequest"/>
      <wsdl:output message="tns:getPriceResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getPricesSOAP" type="tns:getPrices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPrice">
      <soap:operation soapAction="http://www.example.org/getPrices/getPrice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getPrices">
    <wsdl:port binding="tns:getPricesSOAP" name="getPricesSOAP">
      <soap:address location="http://127.0.0.1/getPrice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
